# Python bytecode
__pycache__/
*.py[cod]

# Cache, exports, and output directories
cache/
exports/
outputs/report.html

# VS Code settings (optional)
.vscode/

# System-specific files
.DS_Store
Thumbs.db

# Virtual environments
env/
.venv/
venv/

# Logs or temp files
*.log
*.tmp
